.Header{
    width: 100vw;
    height: 10rem;
    padding: 1rem;
    background-color: #1d0900;
    display:flex;
    justify-content: space-between;
    color:#ffff;

}
.Header-logo{
    height: 10rem;
    width: 12rem;
}
h2{
    padding-right: 30px;
    padding-top: 35px;
}